body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b; 
}

.title-text {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-family: Tahoma, Geneva, sans-serif;
}

.footer-text {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: Tahoma, Geneva, sans-serif;
}

.calculator {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    inline-size: 350px;
    block-size: 340px;
    box-sizing: border-box;
    background-color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.button {
    background-color: rgb(41, 41, 41);
    min-inline-size: 70px;
    min-block-size: 50px;
    cursor: pointer;
    text-align: center;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-block-end: 5px;
    border: 1px solid black;
    font-size: 24px;
    font-family: Tahoma, Geneva, sans-serif;
    border-radius: 10px;
}

.visor {
    background-color: rgb(34, 71, 57);
    min-inline-size: 315px;
    min-block-size: 40px;
    cursor: auto;
    text-align: end;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-block-end: 5px;
    border: 1px solid black;
    font-size: 24px;
    font-family: Tahoma, Geneva, sans-serif;
    border-radius: 10px;
}

.calc {
    background: transparent;
    cursor: auto;
    text-align: end;
    min-inline-size: 315px;
    min-block-size: 10px;
    margin-inline-start: 5px;
    position: absolute;
    border: 0px;
    color: grey;
    font-size: 10px;
    font-family: Tahoma, Geneva, sans-serif;
}

.button_result {
    background-color: #444545;
    min-inline-size: 155px;
    min-block-size: 50px;
    cursor: pointer;
    text-align: center;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-block-end: 5px;
    border: 1px solid black;
    font-size: 24px;
    font-family: Tahoma, Geneva, sans-serif;
    border-radius: 10px;
}